<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="300" />
  <title>Track My Gains TMG</title>
    <style>
        .fade-enter-active {animation: fade 0.7s;}
        .appear-enter-active {animation: appear 1.5s;}
        .appear-leave-active {animation: appear 1.5s reverse;}
        @keyframes fade {from {opacity: 0.5;}to {opacity: 0}}
        @keyframes appear {from {opacity: 0;}to {opacity: 1}}
        body{padding-top: 20px;}
        input{
            background-color: #32383e;
            color: #95ef95;
            text-align: center;
            margin:0px;
            padding:0px;
            border: 0px;
        }
        .negative{color: #ef7373;}
        .positive{color: #62c462;}
        .list-item {
          display: inline-block;
          margin-right: 10px;
        }
        .list-enter-active, .list-leave-active {
          transition: all 1s;
        }
        .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
          opacity: 0;
          transform: translateY(30px);
        }
        input{
        width: 100%;

        }
    </style>
</head>

<body>
<div class="container-fluid" id="app" v-cloak>
    <div class="row">
        <div class="col">
        
            <div class="card text-center mb-3" v-bind:class="[short ? 'border-danger' : 'border-success']"style="max-width: 22rem;">
            <!--div class="alert alert-info">Криси е В Е Л И К А!</div-->
                <div class="card-header text-center" v-bind:class="[short ? 'negative' : 'positive']">{{ short ? 'Short' : 'Long' }} Ξ{{entryamount}} @ ${{entryprice}} </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                              <h3 class="card-text" v-bind:class="[loss<0 ? 'negative' : 'positive']">$ {{message}}</h3><br>
                            </tr>
                            <tr>
                              <td v-bind:class="[loss<0 ? 'negative' : 'positive']">$ {{gains}}</td>
                              <td v-bind:class="[loss<0 ? 'negative' : 'positive']">Ξ {{ethgains}}</td>
                            </tr>
                        </table>
                        Volume: {{volume}} M
                    </div>
            <div class="status text-success">
                <span class='dot text-danger float-right'>
                    <transition name="fade">
                       <i class='fa fa-heart' v-if="heart"></i>
                    </transition>
                    &nbsp;
                </span>
            </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col">
    <div class="card text-center" style="width: 22rem;">
        <!-- TradingView Widget BEGIN --> 
<div class="tradingview-widget-container">
  <div id="tradingview_0ebd0"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ETHUSD/?exchange=KRAKEN" rel="noopener" target="_blank"><span class="blue-text">ETHUSD Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "auto",
  "height": "350",
  "symbol": "KRAKEN:ETHUSD",
  "interval": "5",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_legend": true,
  "save_image": false,
  "studies": [
    "MACD@tv-basicstudies",
    "MASimple@tv-basicstudies",
    "MAWeighted@tv-basicstudies"
  ],
  "container_id": "tradingview_0ebd0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>
    </div>
</div>    





<br>
    <div class="row">
    <div class="col">
    <div class="card text-center" style="width: 22rem;">
    <table class="table table-striped table-sm">
    <thead>
    <tr class="text-warning">Последни 5</tr>
    <tr class="text-warning">
      <th>Дата</th>
      <th>S / L</th>
      <th>Печалба</th>
      <th>Преди</th>
      <th>Сега</th>
    </tr>
  </thead>
    <tr v-for="row in mf0">
        <td>{{row.date}}</td>
        <td>{{row.type}}</td>
        <td>Ξ{{row.profit}}</td>
        <td>${{row.static}}</td>
        <td>${{noDecimal(row.profit * app.theprice)}}</td>
	</tr>
    <tr class="text-success">
		<td>Общо: </td>
		<td>{{longs}}&nbsp;|&nbsp;{{shorts}} </td>
		<td>Ξ{{colls}}</td>
		<td>${{totalBefore}}</td>
		<td>${{noDecimal(app.colls*app.theprice)}}</td>
	</tr>
    </table>
    
     </div></div></div>



<br>
    <div class="row">
    <div class="col">
    <div class="card text-center" style="width: 22rem;">   
        


    <table class="table table-striped table-fit table-hover table-sm">
        <thead>
            <tr><th colspan="6" class="text-center text-warning">АРХИВ</th></tr>
        </thead>
    <tbody>
        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok=!ok;">Август</td>
            <td colspan="1" class="text-center text-secondary" @click="ok=!ok;">Ξ1.25</td>
            <td colspan="1" class="text-center text-secondary" @click="ok=!ok;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="1" class="text-center text-secondary" @click="ok=!ok;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr v-for="row in mf01" v-show="ok">
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>
        
        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok2=!ok2;">Септември</td>
            <td colspan="1" class="text-center text-secondary" @click="ok2=!ok2;">Ξ8.25</td>
            <td colspan="1" class="text-center text-secondary" @click="ok2=!ok2;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="1" class="text-center text-secondary" @click="ok2=!ok2;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf02" v-show="ok2" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok3=!ok3;">Октомври</td>
            <td colspan="1" class="text-center text-secondary" @click="ok3=!ok3;">Ξ3.08</td>
            <td colspan="1" class="text-center text-secondary" @click="ok3=!ok3;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="1" class="text-center text-secondary" @click="ok3=!ok3;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf03" v-show="ok3" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok4=!ok4;">Ноември</td>
            <td colspan="1" class="text-center text-secondary" @click="ok4=!ok4;">Ξ1.44</td>
            <td colspan="1" class="text-center text-secondary" @click="ok4=!ok4;">${{noDecimal(app.theprice*1.44)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok4=!ok4;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf04" v-show="ok4" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>
        
        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok5=!ok5;">Декември</td>
            <td colspan="1" class="text-center text-secondary" @click="ok5=!ok5;">Ξ6.52</td>
            <td colspan="1" class="text-center text-secondary" @click="ok5=!ok5;">${{noDecimal(app.theprice*6.52)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok5=!ok5;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf05" v-show="ok5" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>
        
        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok6=!ok6;">Януари</td>
            <td colspan="1" class="text-center text-secondary" @click="ok6=!ok6;">Ξ-11.98</td>
            <td colspan="1" class="text-center text-secondary" @click="ok6=!ok6;">${{noDecimal(app.theprice*-11.98)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok6=!ok6;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf06" v-show="ok6" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok7=!ok7;">Февруари</td>
            <td colspan="1" class="text-center text-secondary" @click="ok7=!ok7;">Ξ2.22</td>
            <td colspan="1" class="text-center text-secondary" @click="ok7=!ok7;">${{noDecimal(app.theprice*2.22)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok7=!ok7;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf07" v-show="ok7" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok8=!ok8;">Март</td>
            <td colspan="1" class="text-center text-secondary" @click="ok8=!ok8;">Ξ0.93</td>
            <td colspan="1" class="text-center text-secondary" @click="ok8=!ok8;">${{noDecimal(app.theprice*0.93)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok8=!ok8;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf08" v-show="ok8" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok9=!ok9;">Април</td>
            <td colspan="1" class="text-center text-secondary" @click="ok9=!ok9;">Ξ0.76</td>
            <td colspan="1" class="text-center text-secondary" @click="ok9=!ok9;">${{noDecimal(app.theprice*0.76)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok9=!ok9;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf09" v-show="ok9" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>

        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok10=!ok10;">Май</td>
            <td colspan="1" class="text-center text-secondary" @click="ok10=!ok10;">Ξ4.22</td>
            <td colspan="1" class="text-center text-secondary" @click="ok10=!ok10;">${{noDecimal(app.theprice*4.22)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok10=!ok10;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf10" v-show="ok10" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center text-secondary" @click="ok11=!ok11;">Юни</td>
            <td colspan="1" class="text-center text-secondary" @click="ok11=!ok11;">Ξ-3.98</td>
            <td colspan="1" class="text-center text-secondary" @click="ok11=!ok11;">${{noDecimal(app.theprice*-3.98)}}</td>
            <td colspan="1" class="text-center text-secondary" @click="ok11=!ok11;">&nbsp;&nbsp;<i class="fas fa-plus text-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        
        <tr v-for="row in mf11" v-show="ok11" >
            <td>{{row.date}}</td>
            <td>{{row.type}}</td>
            <td>Ξ{{row.profit}}</td>
            <td>${{row.static}}</td>
            <td>${{noDecimal(row.profit * app.theprice)}}</td>
        </tr>
    </tbody>
</table>
    
    </div></div></div>
<br>
    <!--div class="row">
    <div class="col">
    <div class="card text-left" style="width: 22rem;">
    <div class="card-header text-center">Правила за спокоен живот</div>
    <ol>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-danger">Криси е В Е Л И К А!</li>
      <li class="text-warning">На паричката не и харесва да слагаме таргети!</li>
      <li class="text-warning">Боци не се паникьосва, само така ти се струва!</li>
      <li class="text-info">Прибираме си печалбите!</li>
      <li class="text-info">Радваме се на печалбите!!!</li>
      <li class="text-info">Ние не сме зайци!!!</li>
      <li class="text-info">Заедно ли сме, винаги ще газим!</li>
    </ol>
    </div></div></div-->
         <br><br><br>
         
</div>


<script>

var app = new Vue({
  el: '#app',
  data: {

      short: false,
      entryprice: 1797.60,
      entryamount: 4.45,
      colls: 13.10,




    table: [
        {date: "08/11", coll: "5.18", type: "Long", profit: "0.18", static: "568"},
        {date: "08/12", coll: "5.22", type: "Short", profit: "0.04", static: "126"},
        {date: "08/13", coll: "5.38", type: "Long", profit: "0.16", static: "505"},
        {date: "08/14", coll: "5.43", type: "Short", profit: "0.05", static: "158"},
        {date: "08/15", coll: "5.68", type: "Long", profit: "0.25", static: "789"},
        {date: "08/16", coll: "5.8", type: "Long", profit: "0.12", static: "379"},
        {date: "08/17", coll: "6.05", type: "Long", profit: "0.25", static: "789"},
        {date: "08/18", coll: "6.23", type: "Short", profit: "0.18", static: "568"},
        {date: "08/19", coll: "6.25", type: "Long", profit: "0.02", static: "63"},
        {date: "09/01", coll: "6.3", type: "Short", profit: "0.05", static: "158"},
        {date: "09/01", coll: "6.31", type: "Long", profit: "0.01", static: "32"},
        {date: "09/02", coll: "6.44", type: "Short", profit: "0.13", static: "410"},
        {date: "09/02", coll: "6.55", type: "Long", profit: "0.11", static: "347"},
        {date: "09/04", coll: "6.63", type: "Short", profit: "0.08", static: "253"},
        {date: "09/05", coll: "6.65", type: "Long", profit: "0.02", static: "63"},
        {date: "09/06", coll: "6.75", type: "Short", profit: "0.1", static: "316"},
        {date: "09/07", coll: "5.57", type: "Long", profit: "-1.18", static: "-3725"},
        {date: "09/11", coll: "7.91", type: "Short", profit: "2.34", static: "7387"},
        {date: "09/11", coll: "8.05", type: "Long", profit: "0.14", static: "442"},
        {date: "09/13", coll: "8.29", type: "Short", profit: "0.24", static: "758"},
        {date: "09/13", coll: "8.71", type: "Short", profit: "0.42", static: "1326"},
        {date: "09/13", coll: "8.8", type: "Long", profit: "0.09", static: "284"},
        {date: "09/20", coll: "10.04", type: "Short", profit: "1.24", static: "3915"},
        {date: "09/21", coll: "9.74", type: "Long", profit: "-0.3", static: "-910"},
        {date: "09/21", coll: "11.11", type: "Short", profit: "1.37", static: "3860"},
        {date: "09/22", coll: "11.07", type: "Short", profit: "-0.4", static: "-122"},
        {date: "09/22", coll: "10.93", type: "Long", profit: "-0.14", static: "-428"},
        {date: "09/22", coll: "10.45", type: "Short", profit: "-0.48", static: "-1467"},
        {date: "09/23", coll: "10.75", type: "Long", profit: "0.3", static: "923"},
        {date: "09/24", coll: "10.91", type: "Short", profit: "0.16", static: "490"},
        {date: "09/24", coll: "10.98", type: "Short", profit: "0.07", static: "216"},
        {date: "09/24", coll: "10.94", type: "Long", profit: "-0.04", static: "-124"},
        {date: "09/24", coll: "11.54", type: "Short", profit: "0.6", static: "1758"},
        {date: "09/24", coll: "11.65", type: "Short", profit: "0.11", static: "307"},
        {date: "09/25", coll: "11.71", type: "Short", profit: "0.06", static: "180"},
        {date: "09/26", coll: "12.28", type: "Long", profit: "0.57", static: "1710"},
        {date: "09/26", coll: "12.37", type: "Long", profit: "0.09", static: "271"},
        {date: "09/26", coll: "12.41", type: "Long", profit: "0.04", static: "121"},
        {date: "09/28", coll: "13.34", type: "Short", profit: "0.93", static: "2701"},
        {date: "09/28", coll: "13.5", type: "Short", profit: "0.16", static: "459"},
        {date: "09/29", coll: "13.67", type: "Long", profit: "0.17", static: "494"},
        {date: "09/29", coll: "13.73", type: "Short", profit: "0.06", static: "173"},
        {date: "09/30", coll: "14.46", type: "Long", profit: "0.73", static: "2177"},
        {date: "09/30", coll: "14.5", type: "Long", profit: "0.04", static: "120"},
        {date: "10/01", coll: "14.73", type: "Long", profit: "0.23", static: "706"},
        {date: "10/03", coll: "13.16", type: "Short", profit: "-1.57", static: "-5372"},
        {date: "10/04", coll: "13.35", type: "Long", profit: "0.19", static: "649"},
        {date: "10/05", coll: "13.39", type: "Long", profit: "0.04", static: "136"},
        {date: "10/06", coll: "14.04", type: "Long", profit: "0.65", static: "2324"},
        {date: "10/07", coll: "14.40", type: "Long", profit: "0.36", static: "1310"},
        {date: "10/08", coll: "14.60", type: "Long", profit: "0.20", static: "724"},
        {date: "10/14", coll: "14.81", type: "Long", profit: "0.21", static: "758"},
        {date: "10/14", coll: "14.87", type: "Long", profit: "0.06", static: "228"},
        {date: "10/15", coll: "15.11", type: "Long", profit: "0.24", static: "921"},
        {date: "10/15", coll: "15.13", type: "Short", profit: "0.02", static: "77"},
        {date: "10/16", coll: "15.16", type: "Long", profit: "0.03", static: "118"},
        {date: "10/20", coll: "15.84", type: "Long", profit: "0.68", static: "2722"},
        {date: "10/20", coll: "15.95", type: "Long", profit: "0.11", static: "450"},
        {date: "10/21", coll: "16.51", type: "Short", profit: "0.56", static: "2289"},
        {date: "10/21", coll: "16.58", type: "Long", profit: "0.07", static: "288"},
        {date: "10/24", coll: "17", type: "Short", profit: "0.42", static: "1698"},
        {date: "10/24", coll: "17.31", type: "Short", profit: "0.31", static: "1232"},
        {date: "10/27", coll: "16.99", type: "Short", profit: "-0.32", static: "-1317"},
        {date: "10/27", coll: "17.37", type: "Short", profit: "0.38", static: "1508"},
        {date: "10/28", coll: "18.04", type: "Long", profit: "0.67", static: "2747"},
        {date: "10/28", coll: "18.17", type: "Long", profit: "0.13", static: "536"},
        {date: "10/28", coll: "18.22", type: "Long", profit: "0.05", static: "208"},
        {date: "10/31", coll: "17.58", type: "Short", profit: "-0.64", static: "-2725"},
        {date: "11/01", coll: "17.72", type: "Long", profit: "0.14", static: "604"},
        {date: "11/01", coll: "18.03", type: "Short", profit: "0.31", static: "1326"},
        {date: "11/01", coll: "18.05", type: "Long", profit: "0.02", static: "86"},
        {date: "11/01", coll: "18.1", type: "Short", profit: "0.05", static: "215"},
        {date: "11/01", coll: "18.14", type: "Long", profit: "0.04", static: "173"},
        {date: "11/04", coll: "18.3", type: "Short", profit: "0.16", static: "714"},
        {date: "11/04", coll: "18.43", type: "Long", profit: "0.13", static: "587"},
        {date: "11/05", coll: "18.53", type: "Short", profit: "0.10", static: "448"},
        {date: "11/05", coll: "18.79", type: "Long", profit: "0.26", static: "1176"},
        {date: "11/05", coll: "19.00", type: "Short", profit: "0.21", static: "937"},
        {date: "11/05", coll: "19.06", type: "Long", profit: "0.06", static: "270"},
        {date: "11/05", coll: "19.15", type: "Long", profit: "0.09", static: "403"},
        {date: "11/05", coll: "19.17", type: "Long", profit: "0.02", static: "89"},
        {date: "11/06", coll: "19.68", type: "Long", profit: "0.51", static: "2307"},
        {date: "11/07", coll: "19.85", type: "Long", profit: "0.17", static: "777"},
        {date: "11/07", coll: "19.97", type: "Long", profit: "0.12", static: "554"},
        {date: "11/08", coll: "20.04", type: "Long", profit: "0.07", static: "324"},
        {date: "11/08", coll: "20.07", type: "Long", profit: "0.03", static: "142"},
        {date: "11/08", coll: "20.16", type: "Short", profit: "0.09", static: "426"},
        {date: "11/08", coll: "20.22", type: "Long", profit: "0.06", static: "286"},
        {date: "11/09", coll: "20.29", type: "Short", profit: "0.07", static: "334"},
        {date: "11/09", coll: "20.34", type: "Short", profit: "0.05", static: "240"},
        {date: "11/09", coll: "20.40", type: "Short", profit: "0.06", static: "288"},
        {date: "11/10", coll: "20.65", type: "Short", profit: "0.25", static: "1171"},
        {date: "11/11", coll: "20.89", type: "Short", profit: "0.24", static: "1118"},
        {date: "11/11", coll: "21.14", type: "Short", profit: "0.25", static: "1167"},
        {date: "11/12", coll: "21.16", type: "Short", profit: "0.02", static: "95"},
        {date: "11/15", coll: "21.25", type: "Long", profit: "0.09", static: "425"},
        {date: "11/15", coll: "21.35", type: "Short", profit: "0.10", static: "468"},
        {date: "11/15", coll: "21.56", type: "Long", profit: "0.21", static: "991"},
        {date: "11/21", coll: "15.46", type: "Long", profit: "-6.1", static: "-26954"},
        {date: "11/21", coll: "14.78", type: "Long", profit: "-0.68", static: "-2945"},
        {date: "11/22", coll: "15.28", type: "Long", profit: "0.50", static: "2141"},
        {date: "11/22", coll: "15.47", type: "Long", profit: "0.19", static: "806"},
        {date: "11/23", coll: "15.6", type: "Long", profit: "0.13", static: "546"},
        {date: "11/23", coll: "15.74", type: "Short", profit: "0.14", static: "582"},
        {date: "11/23", coll: "15.82", type: "Long", profit: "0.08", static: "335"},
        {date: "11/23", coll: "16.13", type: "Short", profit: "0.31", static: "1307"},
        {date: "11/26", coll: "17.47", type: "Short", profit: "1.34", static: "5382"},
        {date: "11/26", coll: "17.77", type: "Short", profit: "0.30", static: "1205"},
        {date: "11/26", coll: "18.15", type: "Short", profit: "0.38", static: "1502"},
        {date: "11/26", coll: "18.44", type: "Long", profit: "0.29", static: "1175"},
        {date: "11/26", coll: "18.61", type: "Long", profit: "0.17", static: "700"},
        {date: "11/26", coll: "18.68", type: "Long", profit: "0.07", static: "292"},
        {date: "11/27", coll: "18.74", type: "Long", profit: "0.06", static: "247"},
        {date: "11/27", coll: "18.68", type: "Long", profit: "-0.06", static: "-245"},
        {date: "11/28", coll: "18.46", type: "Long", profit: "-0.22", static: "-896"},
        {date: "11/29", coll: "18.75", type: "Short", profit: "0.29", static: "1248"},
        {date: "11/29", coll: "18.90", type: "Long", profit: "0.15", static: "649"},
        {date: "11/29", coll: "19.02", type: "Short", profit: "0.12", static: "516"},
        {date: "12/03", coll: "20.42", type: "Short", profit: "1.40", static: "5869"},
        {date: "12/03", coll: "20.57", type: "Short", profit: "0.15", static: "629"},
        {date: "12/03", coll: "20.66", type: "Long", profit: "0.09", static: "382"},
        {date: "12/04", coll: "20.72", type: "Short", profit: "0.06", static: "253"},
        {date: "12/13", coll: "21.42", type: "Short", profit: "0.70", static: "2736"},
        {date: "12/13", coll: "21.54", type: "Short", profit: "0.12", static: "463"},
        {date: "12/13", coll: "21.69", type: "Short", profit: "0.15", static: "579"},
        {date: "12/13", coll: "21.76", type: "Long", profit: "0.07", static: "267"},
        {date: "12/13", coll: "22.04", type: "Short", profit: "0.28", static: "1034"},
        {date: "12/15", coll: "22.67", type: "Short", profit: "0.63", static: "2322"},
        {date: "12/17", coll: "23.99", type: "Short", profit: "1.32", static: "4926"},
        {date: "12/20", coll: "25.28", type: "Short", profit: "1.29", static: "4883"},
        {date: "12/20", coll: "25.5", type: "Long", profit: "0.22", static: "840"},
        {date: "12/26", coll: "25.34", type: "Short", profit: "-0.16", static: "650"},
        {date: "12/26", coll: "25.74", type: "Short", profit: "0.40", static: "1635"},
        {date: "12/26", coll: "25.91", type: "Short", profit: "0.17", static: "701"},
        {date: "01/01", coll: "19.75", type: "Long", profit: "-6.16", static: "-23228"},
        {date: "01/05", coll: "19.98", type: "Long", profit: "0.23", static: "850"},
        {date: "01/06", coll: "16.99", type: "Long", profit: "-2.99", static: "-9890"},
        {date: "01/06", coll: "14.75", type: "Long", profit: "-2.24", static: "-7409"},
        {date: "01/07", coll: "17.40", type: "Short", profit: "2.65", static: "8520"},
        {date: "01/07", coll: "17.65", type: "Short", profit: "0.25", static: "799"},
        {date: "01/07", coll: "18.53", type: "Short", profit: "0.88", static: "2760"},
        {date: "01/07", coll: "19.14", type: "Long", profit: "0.61", static: "1944"},
        {date: "01/07", coll: "19.26", type: "Long", profit: "0.12", static: "379"},
        {date: "01/07", coll: "19.30", type: "Long", profit: "0.4", static: "126"},
        {date: "01/08", coll: "19.52", type: "Short", profit: "0.22", static: "693"},
        {date: "01/08", coll: "19.62", type: "Short", profit: "0.10", static: "318"},
        {date: "01/08", coll: "19.31", type: "Long", profit: "-0.31", static: "-972"},
        {date: "01/08", coll: "20.28", type: "Short", profit: "0.97", static: "2948"},
        {date: "01/08", coll: "19.73", type: "Short", profit: "-0.55", static: "-1711"},
        {date: "01/09", coll: "18.48", type: "Short", profit: "-1.25", static: "-3974"},
        {date: "01/09", coll: "18.54", type: "Short", profit: "0.06", static: "192"},
        {date: "01/09", coll: "17.87", type: "Long", profit: "-0.67", static: "-2086"},
        {date: "01/09", coll: "18.72", type: "Short", profit: "0.85", static: "2587"},
        {date: "01/09", coll: "19.09", type: "Short", profit: "0.37", static: "1091"},
        {date: "01/09", coll: "19.49", type: "Long", profit: "0.4", static: "1202"},
        {date: "01/09", coll: "19.80", type: "Long", profit: "0.31", static: "941"},
        {date: "01/18", coll: "17.41", type: "Short", profit: "-2.39", static: "-7542"},
        {date: "01/19", coll: "18.88", type: "Short", profit: "1.47", static: "4507"},
        {date: "01/20", coll: "19.47", type: "Short", profit: "0.59", static: "1813"},
        {date: "01/21", coll: "19.76", type: "Short", profit: "0.29", static: "829"},
        {date: "01/22", coll: "12.56", type: "Long", profit: "-7.2", static: "-17712"},
        {date: "01/25", coll: "13.15", type: "Short", profit: "0.59", static: "1444"},
        {date: "01/26", coll: "13.29", type: "Short", profit: "0.14", static: "354"},
        {date: "01/26", coll: "13.49", type: "Short", profit: "0.20", static: "504"},
        {date: "01/26", coll: "13.68", type: "Short", profit: "0.19", static: "460"},
        {date: "01/27", coll: "13.78", type: "Short", profit: "0.10", static: "236"},
        {date: "01/27", coll: "13.83", type: "Long", profit: "0.05", static: "121"},
        {date: "01/27", coll: "14.13", type: "Short", profit: "0.30", static: "722"},
        {date: "01/27", coll: "13.93", type: "Long", profit: "-0.20", static: "-473"},
        {date: "02/24", coll: "16.15", type: "Short", profit: "2.22", static: "5246"},
        {date: "03/07", coll: "16.88", type: "Short", profit: "0.73", static: "1818"},
        {date: "03/07", coll: "16.92", type: "Short", profit: "0.04", static: "102"},
        {date: "03/14", coll: "17.08", type: "Short", profit: "0.16", static: "406"},
        {date: "04/29", coll: "17.39", type: "Short", profit: "0.31", static: "873"},
        {date: "04/29", coll: "17.44", type: "Short", profit: "0.05", static: "140"},
        {date: "04/29", coll: "17.50", type: "Short", profit: "0.06", static: "167"},
        {date: "04/30", coll: "17.64", type: "Short", profit: "0.14", static: "391"},
        {date: "04/30", coll: "17.84", type: "Short", profit: "0.20", static: "391"},
        {date: "05/01", coll: "17.90", type: "Long", profit: "0.06", static: "168"},
        {date: "05/01", coll: "18.08", type: "Short", profit: "0.18", static: "499"},
        {date: "05/02", coll: "18.15", type: "Long", profit: "0.07", static: "199"},
        {date: "05/02", coll: "18.27", type: "Long", profit: "0.12", static: "340"},
        {date: "05/02", coll: "18.33", type: "Long", profit: "0.06", static: "169"},
        {date: "05/02", coll: "18.47", type: "Long", profit: "0.14", static: "399"},
        {date: "05/03", coll: "18.52", type: "Long", profit: "0.05", static: "142"},
        {date: "05/04", coll: "18.61", type: "Long", profit: "0.09", static: "255"},
        {date: "05/04", coll: "18.65", type: "Long", profit: "0.04", static: "113"},
        {date: "05/04", coll: "18.71", type: "Long", profit: "0.06", static: "170"},
        {date: "05/05", coll: "18.78", type: "Short", profit: "0.07", static: "202"},
        {date: "05/05", coll: "18.68", type: "Long", profit: "-0.10", static: "-287"},
        {date: "05/05", coll: "19.68", type: "Short", profit: "1.0", static: "2763"},
        {date: "05/06", coll: "20.24", type: "Short", profit: "0.56", static: "1500"},
        {date: "05/08", coll: "20.88", type: "Short", profit: "0.64", static: "1676"},
        {date: "05/09", coll: "19.01", type: "Short", profit: "-1.87", static: "-4552"},
        {date: "05/09", coll: "18.77", type: "Short", profit: "-0.24", static: "-572"},
        {date: "05/11", coll: "19.58", type: "Short", profit: "0.81", static: "1854"},
        {date: "05/11", coll: "19.73", type: "Short", profit: "0.15", static: "325"},
        {date: "05/11", coll: "18.31", type: "Short", profit: "-1.42", static: "-3011"},
        {date: "05/15", coll: "18.55", type: "Short", profit: "0.24", static: "514"},
        {date: "05/15", coll: "17.19", type: "Short", profit: "-1.36", static: "-2913"},
        {date: "05/18", coll: "17.58", type: "Short", profit: "0.39", static: "764"},
        {date: "05/18", coll: "17.66", type: "Short", profit: "0.08", static: "157"},
        {date: "05/19", coll: "17.78", type: "Short", profit: "0.12", static: "235"},
        {date: "05/19", coll: "17.94", type: "Short", profit: "0.16", static: "308"},
        {date: "05/20", coll: "18.38", type: "Short", profit: "0.44", static: "866"},
        {date: "05/24", coll: "18.62", type: "Short", profit: "0.24", static: "468"},
        {date: "05/25", coll: "18.90", type: "Short", profit: "0.28", static: "545"},
        {date: "05/25", coll: "18.90", type: "Long", profit: "0.02", static: "39"},
        {date: "05/26", coll: "19.21", type: "Long", profit: "0.29", static: "537"},
        {date: "05/26", coll: "20.01", type: "Long", profit: "0.80", static: "1465"},
        {date: "05/27", coll: "20.22", type: "Long", profit: "0.21", static: "370"},
        {date: "05/28", coll: "20.33", type: "Long", profit: "0.11", static: "193"},
        {date: "05/28", coll: "20.45", type: "Long", profit: "0.12", static: "214"},
        {date: "05/28", coll: "20.50", type: "Long", profit: "0.05", static: "90"},
        {date: "05/30", coll: "21.29", type: "Long", profit: "0.79", static: "1477"},
        {date: "05/30", coll: "21.33", type: "Long", profit: "0.04", static: "76"},
        {date: "05/30", coll: "21.63", type: "Long", profit: "0.30", static: "577"},
        {date: "05/30", coll: "21.86", type: "Long", profit: "0.30", static: "456"},
        {date: "05/31", coll: "22.06", type: "Long", profit: "0.20", static: "398"},
        {date: "06/03", coll: "18.94", type: "Long", profit: "-3.12", static: "-5492"},
        {date: "06/03", coll: "17.79", type: "Long", profit: "-1.15", static: "-2177"},
        {date: "06/10", coll: "18.00", type: "Short", profit: "0.19", static: "341"},
        {date: "06/10", coll: "18.10", type: "Long", profit: "0.1", static: "180"},






    ],	

      message: " ",
      ok: false,
      ok2: false,
      ok3: false,
      ok4: false,
      ok5: false,
      ok6: false,
      ok7: false,
      ok8: false,
      ok9: false,
      ok10: false,
      ok11: false,
      theprice: 0,
      theoretic: 3000,
      longs: 0,
      totalBefore: 0,
      volume: 0,
      shorts: 0,
      rangeprice: 0,
      ethgains: 0,
      mf0: [],
      mf01: [],
      mf02: [],
      mf03: [],
      mf04: [],
      mf05: [],
      loss: 0,
      gains: 0,
      heart: false,
      msg: {  
        "event":"subscribe",
        "feed":"ticker",
        "product_ids":[  
            "PI_ETHUSD"
        ]
      }
  },
  methods: {
    sendMessage: function(message) {
      this.connection.send(message);
    },
    persist: function() {
      localStorage.entryprice = this.entryprice;
      localStorage.entryamount = this.entryamount;
    },
    noDecimal: function(number){
        return number.toFixed(0);
    },
    twoDecimal: function(number){
        return number.toFixed(2);
    }
  },
  
  created: function() {
    console.log("Starting connection to WebSocket Server")
    this.connection = new WebSocket("wss://futures.kraken.com/ws/v1")

    this.connection.onmessage = function(event) {
        //console.log(JSON.parse(event.data).markPrice); // Ако има проблем, махни коментара и виж конзолата
          app.theprice = parseFloat(JSON.parse(event.data).markPrice).toFixed(2);
          app.rangeprice = app.theprice;
          app.loss = ((app.theprice-app.entryprice)).toFixed(2);
          app.loss = (app.short) ? app.loss * -1 : app.loss;
          app.gains = ((app.theprice-app.entryprice)*app.entryamount).toFixed(2);
          app.gains = (app.short) ? app.gains * -1 : app.gains;
          app.ethgains = (app.gains/app.theprice).toFixed(4);
          app.message = app.theprice
          app.volume = parseFloat(JSON.parse(event.data).volume/1000000).toFixed(1);
          document.title = app.message;
          app.heart = true; 
          setTimeout(()=>{app.heart = false;},700);
    }
    this.connection.onopen = function(event) {
      console.log(event);
      console.log("Successfully connected to the KRAKEN...");
      app.sendMessage(JSON.stringify(app.msg));
    }
  },
  mounted: function(){      
      //if(localStorage.entryprice) this.entryprice = localStorage.entryprice;
      //if(localStorage.entryamount) this.entryamount = localStorage.entryamount;
  }
})
app.longs=app.table.filter(table => table.type.length < 5).length;
app.shorts=app.table.filter(table => table.type.length > 4).length;
app.table.forEach(element => app.totalBefore += parseInt(element.static));

// Filtering all the trades in one month

//app.theoretic = app.theprice;
app.mf0 = app.table.slice(Math.max(app.table.length - 5, 0));
app.mf01 = app.table.filter(element => element.date.split('/')[0]==08);
app.mf02 = app.table.filter(element => element.date.split('/')[0]==09);
app.mf03 = app.table.filter(element => element.date.split('/')[0]==10);
app.mf04 = app.table.filter(element => element.date.split('/')[0]==11);
app.mf05 = app.table.filter(element => element.date.split('/')[0]==12);
app.mf06 = app.table.filter(element => element.date.split('/')[0]==01);
app.mf07 = app.table.filter(element => element.date.split('/')[0]==02);
app.mf08 = app.table.filter(element => element.date.split('/')[0]==03);
app.mf09 = app.table.filter(element => element.date.split('/')[0]==04);
app.mf10 = app.table.filter(element => element.date.split('/')[0]==05);
app.mf11 = app.table.filter(element => element.date.split('/')[0]==06);

app.table.forEach(function(element){
    //console.log(element.date) //Рови из таблицата
});





</script>
</body>
</html>